<style>
  .btn-search i {
    color: #fff;
  }

  .btn-search {
    border-radius: 40px;
    background-color: #fe424d;
  }

  .btn-search:hover {
    border-radius: 40px;
    background-color: #fe424d;
  }

  #forms {
    border-radius: 40px;
    text-align: center;
  }

  .navbar-collapse {
    flex-wrap: wrap;
  }

  .container-fluid {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .fa-solid {
    color: #fe424d;
    font-size: 2rem;
  }

  .nav-link {
    color: #222222 !important;
  }

  .navbar {
    height: auto;
    background-color: #fff;
  }

  @media (max-width: 991.98px) {
    form[role="search"] {
      width: 100%;
    }

    .navbar-nav {
      width: 100%;
      justify-content: center;
    }
  }
</style>

<nav class="navbar navbar-expand-lg bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings">
      <i class="fa-solid fa-earth-americas">WanderLust</i>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="w-100 d-flex flex-column flex-lg-row align-items-center justify-content-between gap-2">
        <!-- Search Bar -->
        <form class="d-flex ms-auto" role="search" action="/listings" method="GET">
          <input class="form-control me-2" type="search" id="forms" name="country" placeholder="Search Destination"
            aria-label="Search" />
          <button class="btn btn-search" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>

        <!-- Nav Links -->
        <div class="navbar-nav text-center">
          <a class="nav-link" href="/listings/new">Become a Host</a>
          <% if (!curruser) { %>
            <a class="nav-link" href="/signup"><b>SignUp</b></a>
            <a class="nav-link" href="/login"><b>LogIn</b></a>
          <% } else { %>
            <a class="nav-link" href="/logout"><b>LogOut</b></a>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</nav>
