<% layout("/layouts/boilerplate") %>
<body>
  
  <div class="row">
    <div class="col-8 offset-2"><br>
      <h3>Create a new Listing</h3><br>
      
          <form action="/listings" method="post" class="needs-validation" novalidate>

  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" id="title" name="listing[title]" class="form-control" placeholder="Enter Title" required>
       <div class="valid-feedback">
      Looks good!
    </div>
  </div>

  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea id="description" name="listing[description]" class="form-control" placeholder="Enter description" rows="3" cols="50" required></textarea>
    <div class="valid-feedback">
      Looks Good
    </div>
  </div>

  <div class="mb-3">
    <label for="image" class="form-label">Image URL</label>
    <input type="text" id="image" name="listing[image]" class="form-control" placeholder="Enter Image URL/link">
  </div>

  <div class="row">

  <div class="mb-3 col-md-4">
    <label for="price" class="form-label">Price</label>
    <input type="number" id="price" name="listing[price]" class="form-control" placeholder="Enter Price" required>
    <div class="invalid-feedback">
      Please provide a valid Price.
    </div>
  </div>
  <div class="mb-3 col-8">
    <label for="country" class="form-label">Country</label>
    <input type="text" id="country" name="listing[country]" class="form-control" placeholder="Enter Country" required>
  </div>

    </div>
   <div class="mb-3">
    <label for="location" class="form-label">Location</label>
    <input type="text" id="location" name="listing[location]" class="form-control" placeholder="Enter location" required>
  </div>


  <button class="mb-3 btn btn-dark button">Add</button>
</form>

      </div>
    </div>

 

</body>